<div class="choices" *ngIf="currentQuestion">
  <div *ngFor="let item of currentQuestion.question">

                    <span>
                <p *ngIf="item.type === 'paragraph'">
                    {{item.value}}
                </p>
                <img *ngIf="item.type === 'image'" [src]="item.value">
            </span>
  </div>
  <ul>
    <li class="option"  #optionA (click)="chooseAnswer(0, optionA)">
      <div *ngFor="let item of currentQuestion.option_a">
        <p *ngIf="item.type === 'paragraph'">{{item.value}}</p>
        <img *ngIf="item.type === 'image'" [src]="item.value">
      </div>
    </li>

    <li class="option"  #optionB (click)="chooseAnswer(1, optionB)">
      <div *ngFor="let item of currentQuestion.option_b">
        <p *ngIf="item.type === 'paragraph'">{{item.value}}</p>
        <img *ngIf="item.type === 'image'" [src]="item.value">
      </div>
    </li>

    <li class="option"  #optionC (click)="chooseAnswer(2, optionC)">
      <div *ngFor="let item of currentQuestion.option_c">
        <p *ngIf="item.type === 'paragraph'">{{item.value}}</p>
        <img *ngIf="item.type === 'image'" [src]="item.value">
      </div>
    </li>

    <li class="option"  #optionD (click)="chooseAnswer(3, optionD)">
      <div *ngFor="let item of currentQuestion.option_d">
        <p *ngIf="item.type === 'paragraph'">{{item.value}}</p>
        <img *ngIf="item.type === 'image'" [src]="item.value">
      </div>
    </li>
  </ul>
</div>
<div fxLayout="row" *ngIf="answered">
  <div fxFlex fxLayoutAlign="end">
    <button mat-raised-button fxLayoutAlign="end" color="primary" (click)="next()">
      next
    </button>
  </div>
</div>
